!!! 5
%html{ html_attrs('ja') }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width' }
    %link{ rel: 'stylesheet', href: url('/css/style.css') }
    %title= "#{title} | #{settings.wikiname}"
  %body
    %div{ id: 'left-container'}
      %div{ id: 'logo' }
        %a{ href: url('/' + settings.frontpage) }<
          %img{ src: url('/img/logo.png') }
      %div{ id: 'nav' }
        %div{ class: 'border' }
          %ul
            %li<
              %a{ href: '/' } 内部トップ
            %li<
              %a{ href: url('/' + settings.frontpage) }<
                Front
                %span{ class: 'only-pc'}< Page
            %li{ class: 'only-pc' }<
              %a{ href: url('/') } All
            %li<
              %a{ href: url('/?history') }<
                History
                %span{ class: 'only-pc'}< (All)
            %li<
              %a{ href: url('/?new') }<
                New
                %span{ class: 'only-pc'}< Page
            %li{ class: 'only-pc' }<
              %a{ href: url('/一覧の一覧') }<
                List of Lists
      %div{ id: 'search' }
        %div{ class: 'border' }
          %form{ name: 'search', method: 'POST' }
            %input{ class: 'text', type: 'text', name: 'keyword' }
            %input{ class: 'buttom', type: 'submit', value: '検索', formaction: url('/?search') }
    %div{ id: 'right-container' }!~ content # !~ は html エスケープせず、かつ<pre>などで空白の補正をしない
