%form{ name: 'edit', method: 'POST' }
  %textarea{ name: 'markdown' }!~ markdown
  %br
  %label<
    Commit Message:
    %input{ class: 'text', type: 'text', name: 'message', value: message }
  %br
  %input{ type: 'hidden', name: 'oid', value: oid }
  %input{ type: 'submit', value: '更新', formaction: '?commit' }
  %input{ type: 'submit', value: 'プレビュー', formaction: '?preview' }
  %label<
    %input{ type: 'checkbox', name: 'notification', value: 'false', checked: !notify }
    IRC に通知しない
