%h1{ class: 'title' }= path + ' の更新履歴'
%table{ id: 'history' }
  %tr
    %th Commit Message
    %th Diff
  - log.each do |commit|
    %tr
      %td
        - msg = commit.message
        %a{ href: "?revision=#{commit.tree.oid}" }= msg.empty? ? '<no commit message>' : msg
      %td Diff
